[distutils]
index-servers =
    pypi
    testpypi

[pypi]
repository = https://upload.pypi.org/legacy/
username = __token__
password = pypi-AgEIcHlwaS5vcmcCJGIzOGQ5NDQ2LTM2YjktNDViOS1iYzFhLTFlZDRjNzBmMjhmNgACKlszLCJiNzJiZTBlMy0zZTRiLTRmNmYtYTBmYS02NWRiYWNkZWYwY2IiXQAABiBSppPQJBc9mZNnffXQxAbxzTvVP2dGg_m67Hr4FImvqQ

[testpypi]
repository = https://test.pypi.org/legacy/
username = __token__
password = pypi-AgENdGVzdC5weXBpLm9yZwIkNGY0NGYzNmUtMGIxYy00ZjIwLWJlZGMtMGZlN2RiNjkzNDFlAAIqWzMsImZhM2IzMDcwLWQ1NGYtNGMwZC1iMzkxLTYzY2IzMjA4YjZiZCJdAAAGIFY24HSX-mKZXxDUo8MIGB0w6FRbOp0Dml3Oj6cdjEyo

